:root {
  --link-color: black;
  --header-color: hsla(0, 5%, 12%, 0.89);
  --menu-color: hsla(0, 0%, 0%, 0.11);
  --menu-color-hover: #808080;
  --main-menu-height: 35px;
}

body {
  display: flex;
  font-family: Assistant;
  margin: 0;
  flex-direction: column;
  padding-top: var(--main-menu-height);
}

#menu {
  padding-top: 0.8em;
  padding-bottom: 0.7em;
  position: fixed;
  width: 100%;
  height: var(--main-menu-height);
  background: var(--menu-color);
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 2em;
  justify-content: center;
  font-size: 1.5em;
  position: fixed;
  top: 0;
  transition: background 0.6s ease-out;
}

#menu:hover,
#menu:active,
#menu:focus {
  background: var(--menu-color-hover);
  transition: background 0.6s ease-out;
}
#menu:hover a,
#menu:active a,
#menu:focus a {
  color: white;
  transition: color 0.3s ease-out;
}
#menu:hover a:after,
#menu:active a:after,
#menu:focus a:after {
  background-color: white;
  transition: color 0.3s ease-out, width 0.3s ease-out;
}

a {
  text-decoration: none;
  color: var(--link-color);
  position: relative;
}

a:after {
  content: "";
  display: block;
  background-color: var(--link-color);
  position: absolute;
  width: 0;
  height: 0.1em;
  left: 0;
  bottom: -0.1em;
  transition: width 0.5s ease-out;
}

a:hover:after {
  width: 100%;
  transition: width 0.5s ease-out;
}

p {
  white-space: pre-line;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
section > h1 {
  text-transform: capitalize;
  color: var(--header-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

section > h1:after,
section > h1:before {
  content: "";
  flex: 1 1;
  border-bottom: 0.05em solid var(--header-color);
  margin: auto;
  max-width: 1em;
  transition: max-width 0.3s ease-out;
}
section > h1:before {
  margin-right: 1em;
}
section > h1:after {
  margin-left: 1em;
}
section > h1:hover:after,
section > h1:hover:before {
  max-width: 5em;
  transition: max-width 0.3s ease-out;
}
section > h1:hover,
section > h1:active,
section > h1:focus {
  font-weight: 900;
  transition: font-weight 0.3s ease-out;
}
section {
  margin-top: 2em;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}
.gallery .column {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.image-item img {
  width: 100%;
  border-radius: 0.5em;
  height: 100%;
  object-fit: cover;
  max-height: 30vh;
  max-width: 30vw;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.image-item img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  animation: pulseBigger 3s infinite;
  animation-delay: 0.4s;
}

@media only screen and (min-width: 768px) {
  .gallery {
    flex-direction: row;
  }
}

.about {
  display: grid;
  justify-content: center;
  grid-template-columns: 0.3fr 2em 0.6fr;
  max-width: 80vw;
  margin: auto;
}

.about .image > img {
  width: 100%;
  border-radius: 0.5em;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
}
.about .image > img:hover {
  animation: pulse 3s infinite;
}

.about .text {
  font-size: 1.3em;
}

section > * {
  width: 100%;
  display: flex;
  justify-content: center;
}

iframe {
  width: 100%;
  max-width: 60vw;
  height: 40vh;
  border: none;
}

.fb-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.qr {
  height: 200px;
  aspect-ratio: 1/1;
}

.answers {
  padding-top: 3em;
  display: block;
  max-width: 80vw;
  margin: auto;
}

.answers > ol > li {
  font-size: 1.2em;
}
.contact-wrapper {
  padding-top: 2em;
  display: grid;
  grid-template-columns: 3fr 7fr;
  max-width: 50vw;
  margin: auto;
  gap: 2em;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.contact-info {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

input[type="submit"] {
  background-color: var(--menu-color);
  border-radius: 0.3em;
  color: black;
  border: none;
  padding: 0.5em;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

input[type="submit"]:hover {
  background-color: var(--menu-color-hover);
  color: white;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

input[type="text"],
input[type="email"],
textarea {
  border-radius: 0.3em;
  border: 1px solid var(--menu-color);
  padding: 0.5em;
  font-size: 1.2em;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(0.98);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulseBigger {
  10% {
    transform: scale(1.05);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  60% {
    transform: scale(1.1);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1.05);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
